@model Prayaas_Website.Models.RequestTypeT

@{
    ViewData["Title"] = "Details";
}



<div>
    <h2>RequestType</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestTypeID">Edit</a> |
    <a href="../Index">Back to List</a>
</div>
