@model IEnumerable<Prayaas_Website.Models.GenderT>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/css/venobox.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" />


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GenderID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.GenderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
